**.jar
.DS_Stores
main/world
main/world_the_end
main/world_nether
main/cache
main/logs
main/crash-reports
main/data
main/version_history.json
main/plugins/bStats
main/plugins/PluginMetrics
queue/world
queue/world_the_end
queue/world_nether
queue/cache
queue/logs
queue/crash-reports
queue/data
queue/version_history.json
queue/plugins/bStats
queue/plugins/PluginMetrics
