**.jar
**.log
.DS_Stores
main/.console_history
main/world
main/world_the_end
main/world_nether
main/cache
main/logs
main/crash-reports
main/data
main/version_history.json
main/usercache.json
main/plugins/bStats
main/plugins/PluginMetrics
main/plugins/Ream/player-data
main/plugins/DiscordSRV/linkedaccounts.json
main/plugins/TradePlus/logs
main/plugins/TCPShield/ip-whitelist
main/plugins/DropHeads/dropheads-log.txt
main/plugins/FastAsyncWorldEdit/clipboard
main/plugins/FastAsyncWorldEdit/history
main/plugins/FastAsyncWorldEdit/schematics
main/plugins/FastAsyncWorldEdit/sessions
queue/world
queue/world_the_end
queue/world_nether
queue/.console_history
queue/cache
queue/logs
queue/crash-reports
queue/data
queue/version_history.json
queue/usercache.json
queue/plugins/bStats
queue/plugins/PluginMetrics
waterfall/logs
waterfall/location.yml
